# Python

__pycache__/
*.py[cod]
*.pyo
*.pyd

# env
venv/
.env/
.venv/

# Django

db.sqlite3
*.sqlite3
media/
staticfiles/

# logs
*.log

.env 
.env.*
!.env.example

#node 
node_modules/
dist/
coverage/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/
.idea/

docker-data/
postgres-data/
mysql-data/
redis-data/

docker-compose.override.yml

secret.key
*.pem
*.key

.pytest_cache/
.mypy_cache/
.cache/